
.logo{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

h1{
	font-family: "Lobster Two",cursive;
	font-size: 1.5em;
}

.fixed-bottom{
	position: fixed;
	bottom: 0;
	width:100%;
}

.text-center{
	text-align: center;
}

.fixed-bottom .columns{
	border-right:2px solid white;
}

.fixed-bottom .columns:last-child{
	border:none;
}

.top-bar,.bottom-bar{
	margin: ;
	padding:;
}
