
.logo{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

h1{
	font-family: "Lobster Two",cursive;
	font-size: 1.5em;
}
.eatery{
 	text-align: center;
}

.eatery_description{
	white-space:normal;
}

.back img{
	width: 15%;
}