
.logo{
	text-align: center;
}

h1{
	font-family: "Lobster Two",cursive;
/*	font-size: 2em;*/
}

h2{
	text-align: center;
	font-family: Arial;
	font-size: 25px;
/*	top: 50%;
	vertical-align: middle;
	line-height: 200px;*/
}

p{
	font-family: Arial;
	font-size: 20px;
	top: -80px;
	position: relative;
	padding-left: 15px;
	padding-right: 15px;
}

.fixed-bottom{
	position: fixed;
	bottom: 0;
	width:100%;
}

.text-center{
	text-align: center;
}
.home-buttons{
	position: absolute;
	display: block;
	top: 60%;
	width: 100%;
/*	margin-top: auto;*/
}

.fixed-bottom .columns{
	border-right:2px solid white;
}

.fixed-bottom .columns:last-child{
	border:none;
}

.top-bar,.bottom-bar{
	margin: ;
	padding:;
}

home-button{
	margin-top: 10px;
	height: 40%;
	width: 100%;
/*	box-shadow: 0px 3px 3px 0 #bfbfc0;*/
	border: none;
	border-top: 0.5px solid;
	border-bottom: 0.5px solid;
	border-color: #b8b8ba;
	background-color: white;
	line-height: 40%;
/*	vertical-align: middle;*/
}
#buy-button{
	height: 40%;
}

.centered{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.login-button{
	width: 100%;
	margin-top: 20px;
}
